:root {
  --primary-background: #fffff0;
  --primary-clr: #4c6b73;
  --font-footer: #9eb4aa;
  --secondary-clr: #72908e;
  --secondary-clr-opacity: rgba(114, 144, 142, 0.2);
  --secondary-light: #ced9cb;
  --secondary-light-opacity: rgba(206, 217, 203, 0.2);
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --svg-clr: #a1bcb1;
  --scroll-bar: rgba(114, 144, 142, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: var(--primary-background);
  font-family: "Advent Pro", sans-serif;
  width: 100%;
  overflow-x: hidden;
}
/* Home page  */
/* Header  */
/* Hamburger  */
header .hamburger__container .hamburger {
  display: none;
  height: 35%;
  width: 100%;
  z-index: 1;
}

header .hamburger__container .hamburger label {
  z-index: 9;
  position: fixed;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100vw;
  background: var(--font-footer);
  top: 30px;
  left: 20px;
  cursor: pointer;
}
header .hamburger__container .hamburger {
  position: relative;
}
header .hamburger__container .hamburger input[type="checkbox"] {
  display: none;
}
header .hamburger__container .hamburger .hamburger__content::before,
.hamburger__content::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  border-radius: 100vw;
  background: var(--font-footer);
  top: 10px;
  left: 0;
}
header .hamburger__container .hamburger .hamburger__content::after {
  top: -10px;
}
header .hamburger__container .hamburger input[type="checkbox"]:checked + ul {
  transform: translateY(0);
}
header .hamburger__container ul {
  box-shadow: var(--box-shadow);
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-110%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  list-style: none;
  transition: transform 250ms ease-in-out;
}
header .hamburger__container ul > li {
  border-bottom: 0.5px solid var(--secondary-light-opacity);
  width: 70%;
  text-align: center;
  padding: 1em;
}
header .hamburger__container ul > li:last-child {
  border-bottom: none;
}
header .hamburger__container ul > li > a {
  text-decoration: none;
  color: var(--primary-background);
  letter-spacing: 2px;
}
/* End of hamburger  */

header {
  position: relative;
  width: 100vw;
  height: 50vh;
  box-shadow: var(--box-shadow);
  font-family: "Italiana", serif;
}

header::after {
  content: "";
  position: absolute;
  height: 180px;
  width: 180px;
  left: 12%;
  background-image: url("../public/assets/icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url("../public/assets/zac-gudakov-ztWpwTEx728-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  animation: image 10s ease-in-out infinite;
}

header nav {
  position: absolute;
  right: 2rem;
  float: right;
  margin: 1.5em 6em;
  width: 25%;
}

header nav > ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header p:first-of-type {
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: var(--primary-clr);
  font-size: 90px;
}

header p:last-of-type {
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  text-align: center;
  color: var(--primary-clr);
  font-size: 40px;
}

header nav > ul > li > a {
  color: var(--primary-clr);
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
  transition: all 150ms ease-in;
}

header nav > ul > li > a:hover {
  color: var(--secondary-clr);
}
/* Sections  */
section {
  position: relative;
  padding: 2.5em 0 5em 0;
  box-sizing: border-box;
}
section:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 0.5px;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  background: var(--font-footer);
}
section:last-of-type::after {
  display: none;
}

section > h2 {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 35px;
  margin-block: 1em;
  color: var(--secondary-clr);
  text-align: center;
  letter-spacing: 3px;
}

/* Service card  */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 324px;
  aspect-ratio: 1;
  border-radius: 25px;
  padding-block: 1.5em;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary-clr-opacity);
  background: var(--secondary-light-opacity);
}

.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 4em;
  width: 70%;
  margin-inline: auto;
}

.card svg {
  height: 50px;
  width: 43px;
  fill: var(--secondary-clr);
}
.card h2,
.card p {
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--primary-clr);
  width: 75%;
  text-align: center;
}

.card p {
  font-size: 20px;
  font-weight: 200;
}
/* About  */
.about > p {
  font-size: 22px;
  width: 45%;
  text-align: center;
  margin-inline: auto;
  color: var(--secondary-clr);
}
/* Contact form  */
form {
  width: 25%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
form > input,
button {
  padding: 1rem 2rem;
  outline: none;
  font-size: 1.1rem;
  color: var(--secondary-clr);
  background: var(--secondary-light-opacity);
  border: 1px solid var(--secondary-light);
  border-radius: 0.65em;
}

form > input::placeholder {
  opacity: 0.4;
}
form > button {
  background: var(--secondary-clr);
  border: 1px solid var(--secondary-light);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  box-shadow: var(--box-shadow);
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: all 150ms ease-in;
}

form button:hover {
  opacity: 0.7;
  box-shadow: none;
}
/* Footer  */
footer {
  height: 400px;
  color: var(--font-footer);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  background: var(--secondary-light-opacity);
  border-top: 1px solid var(--secondary-light);
}

footer > div {
  width: 33%;
  height: 100%;
  padding: 2em;
  position: relative;
}
footer > .sec:after {
  content: "";
  position: absolute;
  height: 50%;
  width: 1px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary-clr);
}
footer div:last-of-type::after {
  display: none;
}

.logo .lg {
  width: 400px;
  height: 115px;
  background-image: url("../public/assets/icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-block: 1.75em;
  margin-inline: auto;
}
.logo p {
  margin-inline: auto;
  font-size: 22px;
  letter-spacing: 1px;
  width: 400px;
  text-align: center;
}
footer .contact > p {
  font-family: "Italiana", serif;
  font-size: 28px;
  padding-block: 1em;
  text-align: center;
}
footer svg {
  height: 23px;
  width: 20px;
  fill: var(--svg-clr);
}
footer .copy {
  font: 1em sans-serif;
  text-align: center;
  position: absolute;
  bottom: 1em;
  right: 0;
  left: 0;
}
footer .contact__line {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: flex-end;
  margin-inline: auto;
  font-size: 22px;
  margin-bottom: 0.65em;
}
footer .contact__line > p {
  width: 100%;
  text-align: start;
  margin-left: 2em;
}
.follow > p {
  font-family: "Italiana", serif;
  font-size: 28px;
  padding-block: 1em;
  text-align: center;
}
.follow .icons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}
.follow .icons svg {
  height: 32px;
  width: 35px;
  transition: fill 150ms ease-in;
}
.follow .icons svg:hover {
  fill: var(--primary-clr);
}
/* Team section  */
.team__container {
  width: 40%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.team .card__team {
  width: 200px;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  opacity: 0.8;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  cursor: pointer;
  aspect-ratio: 1;
}
.team .card__team .text {
  transform: translateX(-110%);
  color: var(--primary-background);
  transition: all 350ms ease;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}
.team .card__team .text h2 {
  text-align: center;
  margin-bottom: 1em;
}
.team .card__team .text p {
  color: var(--primary-clr);
  text-align: center;
  font-size: 1.4em;
}
.team .card__team::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background: var(--svg-clr);
  transform: translateX(-110%);
  transition: all 350ms ease;
}
.team .card__team:hover::after {
  transform: translateX(0);
}
.team .card__team:hover .text {
  transform: translateX(0);
}
.team .card__team:first-child {
  background-image: url("../public/assets/pexels-andrea-piacquadio-789822.jpg");
}
.team .card__team:nth-child(2) {
  background-image: url("../public/assets/pexels-daniel-xavier-1212984.jpg");
}
.team .card__team:nth-child(3) {
  background-image: url("../public/assets/pexels-daniel-xavier-1239291.jpg");
}
.team .card__team:nth-child(4) {
  background-image: url("../public/assets/pexels-hannah-nelson-1065084.jpg");
}
.team .card__team:nth-child(5) {
  background-image: url("../public/assets/pexels-simon-robben-614810.jpg");
}
.team .card__team:nth-child(6) {
  background-image: url("../public/assets/pexels-spencer-selover-428333.jpg");
}
/* Kyeframe for animating the header  */
@keyframes image {
  0% {
    background-image: url("../public/assets/zac-gudakov-ztWpwTEx728-unsplash.jpg");
  }
  33% {
    background-image: url("../public/assets/sidekix-media.jpg");
  }
  66% {
    background-image: url("../public/assets/spacejoy-trG8989WjFA-unsplash.jpg");
  }
  100% {
    background-image: url("../public/assets/zac-gudakov-ztWpwTEx728-unsplash.jpg");
  }
}

/* Scroll bar  */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--secondary-light-opacity);
  border: 0.5px solid var(--scroll-bar);
}
::-webkit-scrollbar-thumb {
  background: var(--svg-clr);
  border-radius: 100vw;
}

/* Gallery page  */

.gallery {
  box-sizing: border-box;
  display: grid;
  gap: 1em;
  grid-template-areas: "asset1 asset2 asset2" "asset3 asset4 asset5" "asset3 asset4 asset6" "asset3 asset7 asset8";
  /* height: 1449px;
  width: 1613px; */
  height: 134%;
  width: 84%;
  overflow: hidden;
  margin-inline: auto;
  margin-block: 5em;
}
.asset {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.gallery .asset1 {
  width: 593px;
  aspect-ratio: 1.56;
  grid-area: asset1;
  background-image: url("../public/assets/Gallery/toa-heftiba-FV3GConVSss-unsplash.jpg");
}
.gallery .asset2 {
  grid-area: asset2;
  position: relative;
  right: 3px;
  width: 1005px;
  aspect-ratio: 1.79;
  background-image: url("../public/assets/Gallery/spacejoy-AAy5l4-oFuw-unsplash.jpg");
}
.gallery .asset3 {
  position: relative;
  top: -175px;
  grid-area: asset3;
  width: 594px;
  aspect-ratio: 0.566;
  background-image: url("../public/assets/Gallery/spacejoy-TKFskJy8PQ8-unsplash.jpg");
}
.gallery .asset4 {
  grid-area: asset4;
  width: 437px;
  aspect-ratio: 0.747;
  background-image: url("../public/assets/Gallery/don-kaveen-NFbwes_e-jI-unsplash.jpg");
}
.gallery .asset5 {
  grid-area: asset5;
  position: relative;
  right: 0px;
  width: 535px;
  aspect-ratio: 2.01;
  background-image: url("../public/assets/Gallery/jason-wang-NxAwryAbtIw-unsplash.jpg");
}
.gallery .asset6 {
  grid-area: asset6;
  position: relative;
  top: -50px;
  width: 535px;
  aspect-ratio: 1.6;
  background-image: url("../public/assets/Gallery/roberto-nickson-emqnSQwQQDo-unsplash.jpg");
}
.gallery .asset7 {
  position: relative;
  top: -128px;
  grid-area: asset7;
  width: 450px;
  aspect-ratio: 1.67;
  background-image: url("../public/assets/Gallery/alberto-castillo-q-mx4mSkK9zeo-unsplash.jpg");
}
.gallery .asset8 {
  grid-area: asset8;
  position: relative;
  right: -5px;
  top: -98px;
  width: 530px;
  aspect-ratio: 2.21;
  background-image: url("../public/assets/Gallery/darren-ahmed-arceo-_5AGnG4Mh5E-unsplash.jpg");
}
.asset:hover {
  opacity: 1;
  transform: scale(1.03);
}
/* Media queries for responsivness  */
@media (max-width: 1350px) {
  /* Header  */
  header p:first-of-type {
    font-size: 40px;
    width: 80%;
    text-align: center;
  }
  header p:last-of-type {
    font-size: 16px;
    text-align: center;
    width: 80%;
  }
  header .hamburger__container .hamburger {
    display: block;
    position: fixed;
  }
  header nav {
    display: none;
  }
  header::after {
    height: 80px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1;
  }
  /* Services */
  .card__container {
    flex-direction: column;
    margin-block: 2em;
    gap: 1.5em;
  }
  .card {
    gap: 1em;
    max-width: 100%;
    aspect-ratio: 1;
    padding-block: 1em;
  }
  .card h2 {
    font-size: 1.3rem;
  }
  .card p {
    font-size: 1rem;
  }
  /* About  */
  .about > p {
    font-size: 16px;
    width: 85%;
  }
  /* contact */
  form {
    width: 80%;
    gap: 0.8em;
  }
  form > input,
  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  form button {
    font-size: 1.1rem;
  }
  /* Teaam  */
  .team__container {
    overflow: hidden;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .team .card__team {
    width: 100%;
  }
  /* Footer  */
  footer {
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: max-content;
  }
  footer > div {
    height: 33%;
    width: 100%;
    padding: 2em;
  }
  footer > .sec:after {
    width: 60%;
    height: 1px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo .lg {
    width: 80%;
    margin-block: 1em;
  }
  .logo p {
    font-size: 16px;
    text-align: center;
    width: 80%;
  }
  footer .contact .contact__line > p {
    font-size: 16px;
    width: 100%;
  }
  .follow {
    margin-bottom: 2em;
  }
  .follow .icons {
    width: max-content;
  }
  /* Gallery  */
  .gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 1em;
    margin-block: 2em;
    overflow: hidden;
    margin-inline: auto;
  }
  /* Assets */
  .asset {
    width: 100% !important;
    height: 200px !important;
  }
  .asset1 {
    position: static !important;
    width: 100%;
  }
  .asset2 {
    position: static !important;
    width: 100%;
  }
  .asset3 {
    position: static !important;
    width: 100%;
  }
  .asset4 {
    position: static !important;
    width: 100%;
  }
  .asset5 {
    position: static !important;
    width: 100%;
  }
  .asset6 {
    position: static !important;
    width: 100%;
  }
  .asset7 {
    position: static !important;
    width: 100%;
  }
  .asset8 {
    position: static !important;
    width: 100%;
  }
}
/* MD Screen  */
@media (max-width: 1650px) {
  header nav {
    width: 35%;
  }
  header nav > ul > li > a {
    font-size: 20px;
  }
  .gallery {
    gap: 1;
  }
  .gallery .asset1 {
    width: 490.6px;
  }
  .gallery .asset2 {
    width: 863.7px;
  }
  .gallery .asset3 {
    width: 510.4px;
  }
  .gallery .asset4 {
    width: 375.5px;
  }
  .gallery .asset5 {
    width: 459.76px;
  }
  .gallery .asset6 {
    width: 459.76px;
  }
  .gallery .asset7 {
    width: 376.45px;
  }
  .gallery .asset8 {
    width: 435.46px;
  }
}
